html, body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    color: #dadada;
    font-size: 20px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.hero {
    height: 350px;
    width: 100%;
}

body {
    background-image: url("https://64.media.tumblr.com/bc83495f17d5d9ee87537231190cc15c/fc608a00e680f87d-3c/s1280x1920/c6b7af7926bc3e63d356f40b0b6bae9b6a98c402.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 15px 0px;
    text-shadow: 0px 0px 10px #FFFFFF60;
}

p {
    margin: 1rem 0;
}

a {
    color: #777777;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

nav > a:hover,
nav > a.active {
    text-decoration: underline;
    color: #777777;
}

nav > a.active {
    font-weight: 500;
}

nav {
    margin: 0px 25px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

img.icon {
    border: none;
    border-radius: 20px;
}

.discord {
    border-radius: 5px;
}

.discord:hover {
    box-shadow: 0px 0px 10px 5px #5662F640;
}

main {
    margin: 0px auto;
    padding: 1rem;
    border-top: 1px solid #55555560;
    background: #23232360;
    backdrop-filter: blur(10px);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

section {
    scroll-margin-top: 100px;
}

.text-center {
    text-align: center;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    padding: 10px 20px;
    background: #22222240;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px #00000040;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #55555560;
    width: 100%;
    box-sizing: border-box;
}

footer {
    color: light-gray;
    font-size: 0.75rem;
    position: relative;
    bottom: 0px;
    z-index: 1000;
    padding: 10px 20px;
    background: #23232360;
    backdrop-filter: blur(10px);
    text-align: center;
    width: calc(100% - 40px);
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.player-display {
    width: fit-content;
    padding: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.player-display > img {
    filter: drop-shadow(0px 0px 10px #222222);
}

hr {
    border-color: #323232;
    width: calc(100% - 2rem);
    margin: 1rem;
}

.section-text {
    margin: 0px auto;
    width: calc(100% - 20px);
    max-width: 850px;
    text-align: center;
}

table#ip-table {
    margin: 20px auto;
}

table#ip-table td {
    width: 250px;
    height: 2rem;
}

code.ip {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

div#player-list {
    margin: 5px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}